.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    z-index: 1;
    width: fit-content;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 10px;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px) saturate(2);
    transition: 0.5s cubic-bezier(.36, -0.01, 0, .77);
    z-index: 1;
}

@keyframes pulse {
    0%,
    100% {
        color: #44BB69;
    }
    100% {
        color: #6AC887;
    }
}

.search svg:hover {
    /* animation: pulse 2s infinite !important; */
    color: #4c9362;
}

.fields {
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hide {
    margin-left: -52px;
}