.container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.travelMode {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.travelModeContent {
    width: 80%;
    display: flex;
    gap: 10px;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 0.1rem;
    gap: 5px;
}

.left span {
    font-size: 0.6rem;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tripDurationWrapper {
    display: flex;
    justify-content: flex-start;
    width: 85%;
    margin-left: 20px;
}