.container {
    position: relative;
    left: 0;
    width: 100%;
    background: #F3F4F5;
    display: flex;
    height: 50px;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content img {
    height: 20px;
    width: 20px;
    margin: 0 10px;
}

.order {
    padding: 0 2.5px 0px 0px;
}

.name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.5px 0px 2.5px;
    font-size: 0.85rem;
}

.name a {
    font-size: 0.65rem;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icon {
    display: flex;
    margin: 0 10px;
}

.right {
    margin-right: 10px;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    position: relative;
    top: -5px;
    left: -7.5px;
    width: calc(100% + 17.5px);
}

.tag {
    display: flex;
    position: relative;
    border: 1px solid #EFEFEF;
    color: #FFFFFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: 600;
}

.tagMarker {
    background-color: #20CCFF;
}

.tagHide {
    opacity: 0;
}

.tagClose {
    transition: .25s ease;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid #EFEFEF;
}

.tagClose:hover {
    color: #FF0000;
}

.extended {
    width: 100%;
    background: #F3F4F5;
    position: relative;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 10px;
    font-size: 0.8rem;
}

.test {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}

.hide {
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: 0;
}

.extendedContent {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.extendedFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.footerComponent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.footerComponentCol {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2px;
}

.description {
    padding: 0 0 13px 0;
}

a {
    color: #333;
    text-decoration: none;
}

.shortenString {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.extendedFooter span {
    font-size: 0.7rem;
}

.metric span {
    font-size: 0.7rem;
    font-weight: 400;
    margin: 0;
}

.metric {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.placeLozengeOptions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}