.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100vh - 190px);
    overflow: hidden;
}

.header {
    background: #FCFCFC;
    width: 100%;
    display: flex;
    justify-content: center;
}

.places {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FCFCFC;
    height: 100%;
    position: relative;
}

.metrics {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    gap: 5px;
    padding: 10px;
}

.metrics span {
    font-size: .9rem;
    margin: 0;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 60px;
}

.headerContent span {
    font-size: 0.9rem;
}

.headerContentRight {
    gap: 5px;
    display: flex;
    flex-direction: row;
}

.scrollable {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
    background: #FCFCFC;
    overflow-y: auto;
    height: 100%;
}

.footer {
    height: 20px;
    width: 100%;
    background-color: #FCFCFC;
}