.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    background: #FCFCFC;
    color: #333;
}

.buttonContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}