.container {
    width: 100%;
    display: flex;
}

#slider::-webkit-scrollbar {
    display: none;
}

.sliderIconLeft,
.sliderIconRight {
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    z-index: 1;
    background: #f3f4f5;
    top: 80px;
    overflow: visible;
}

.sliderIconRight:hover,
.sliderIconLeft:hover {
    background: #e9eaeb;
}

.sliderIconRight:active,
.sliderIconLeft:active {
    background: #e1e2e3;
}

.sliderIconRight {
    margin-right: -40px;
    left: 20px;
}

.sliderIconLeft {
    margin-left: -40px;
    right: 20px;
}

.loading {
    display: flex;
    justify-content: center;
}

.slider-icon.left,
.slider-icon.right {
    display: none;
}